body {
  background-color:silver"
}
h1{
  color: black
}
h3{
  color: blue
}

hr {
  background-color: none;
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 10px;
  width: 5%
}
